<div class="form">
  <mat-form-field class="form__input" appearance="legacy">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="articleTitle">
  </mat-form-field>
  <mat-form-field class="form__input" appearance="legacy">
    <mat-label>Journal</mat-label>
    <input matInput [(ngModel)]="articleJournal">
  </mat-form-field>
  <mat-form-field class="form__input" appearance="legacy">
    <mat-label>Abstract</mat-label>
    <textarea matInput [(ngModel)]="articleAbstract"></textarea>
  </mat-form-field>
  <button mat-flat-button color="primary">{{isEditing ? 'Update Article' : 'Add Article'}}</button>
</div>
