<div class="card" [ngClass]="{ 'is-editing': article.isEditing }">
  <div class="card__header">
    <div class="card__title-subtitle">
      <span>{{ article.title }}</span>
      <span>Journal: {{ article.journal }}</span>
    </div>
    <mat-icon class="card__close" (click)="deleteArticle()">close</mat-icon>
  </div>
  <div class="card__image-container">
    <img [src]="getImageSource()" alt="" />
  </div>
  <div class="card__abstract">
    <div [@showHide]="isShowingAbstract ? 'show' : 'hide'">
      {{ article.abstract | slice: 0:500 }}...
    </div>
    <div [@showHide]="!isShowingAbstract ? 'show' : 'hide'">
      Please, click on ‘Show Abstract
    </div>
  </div>
  <div class="card__buttons">
    <button
      *ngIf="!article.isEditing"
      mat-flat-button
      color="primary"
      (click)="editArticle()"
    >
      Edit
    </button>
    <button mat-flat-button color="accent" (click)="showAbstract()">
      {{ isShowingAbstract ? "Hide abstract" : "Show Abstract" }}
    </button>
    <button
      *ngIf="article.isEditing"
      mat-flat-button
      color="warn"
      (click)="cancelEdit()"
    >
      Cancel
    </button>
  </div>
</div>
