.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  padding: 15px;
  .card__header {
    display: flex;
    flex-direction: row;
  }
  .card__title-subtitle{
    display: flex;
    flex-direction: column;
  }
  .card__buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .card__close {
    cursor: pointer;
  }
}

.is-editing {
  box-shadow: rgb(218, 13, 13) 0 2px 8px 0;
}
