.toolbar {

}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.avatar-profile-header {
  background-size: cover;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: inline-flex;
  vertical-align: middle;
  margin: 5px;
}

.username {
  font-size: 0.9rem;
  color: black;
}


.container-router {
  display: block;
  width: 100%;
  min-width: 100%;
  padding: 0;
}

.username-container {
  cursor: pointer;
}

.scrollbar {
  max-height: calc(100vh - 65px);
  overflow-y: auto;
  min-height: calc(100vh - 65px);
}
